body {
    font-family: 'Arial', sans-serif;
    margin: 10px;
    padding: 10px;
    background-color: rgb(72, 155, 177);
    
    
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-form {
    background-color: #4592d1;
    padding: 40px;
    border-radius: 49px;
    box-shadow: 0 0 10px rgb(200, 193, 193);
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #d7d7df;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3245b0;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #177f81;
}
