body {
    font-family: 'Arial', sans-serif;
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
    background-color: rgb(72, 155, 177);
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-form {
    background-color: #4592d1;
    padding: 30px; /* Adjust based on your content and design */
    margin: 30px; /* Adjust based on your layout and design */
    border-radius: 20px; /* Adjust based on your preference */
    box-shadow: 0 0 10px rgb(160, 210, 249);
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #d7d7df;
}

input {
    width: 100%;
    padding: 10px; /* Adjust based on your preference */
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 12px; /* Adjust based on your preference */
    background-color: #3245b0;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #177f81;
}
